{{!-- <footer>
    <p>Created by {{name}}</p>
</footer> --}}

<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-7 footer-left">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<p class="foot"><b> Contrary to popular belief, Lorem Ipsum is not simply random text.</b> </p>
				</div>
				<div class="col-md-5 submit">
					<form>
						<input type="text" placeholder="Enter your email address" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your email address';}">
						<input type="submit" value="Subscribe">
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<p class="footer-class">Copyright © 2019 Weather App Template  created by  {{name}} </p>
		</div>
		{{!-- <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script> --}}
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>